{% extends "registration/template.html" %}

{% load static %}

{% block content %}

<br>

<div class="container">
  <h2>Login</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>

<div class="container">
  <small>Use of this application is subject to acceptance of <a href="{% url 'usage' %}">usage</a> guidelines.</small><br>
  <small>We encourage you to review them before logging in.</small>
</div>

{% endblock %}
