{% extends "main/template.html" %}

{% load static %}

{% block content %}

{% if user.is_authenticated %}

<div class="container">
  <p><h2>Resources:</h2></p>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      {% if resource_types == 'ec2' %}
      <th scope="col">Instance ID</th>
      <th scope="col">AMI</th>
      <th scope="col">Source/Dest</th>
      <th scope="col">VPC</th>
      <th scope="col">Public IP</th>
      <th scope="col">Private IP</th>
      {% endif %}
      {% if resource_types == 'vpc' %}
      <th scope="col">VPC ID</th>
      <th scope="col">CIDR Block</th>
      <th scope="col">State</th>
      <th scope="col">Instance Tenancy</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% if resource_types == 'ec2' %}
    {% for i in data %}
      <tr>
        <td>{{ i.instance }}</td>
        <td>{{ i.image }}</td>
        <td>{{ i.src_dest }}</td>
        <td>{{ i.vpc }}</td>
        <td>{{ i.public_ip }}</td>
        <td>{{ i.private_ip }}</td>
      </tr>
    {% empty %}
      <tr>
        <td>No resources found.</td>
      </tr>
    {% endfor %}
    {% endif %}

    {% if resource_types == 'vpc' %}
    {% for i in data %}
    <tr>
      <td>{{ i.id }}</td>
      <td>{{ i.cidr_block }}</td>
      <td>{{ i.state }}</td>
      <td>{{ i.instance_tenancy }}</td>
    </tr>
    {% endfor %}
    {% endif %}
  </tbody>
</table>

<div class="container">
  <form action="{% url 'aws' %}">
    <button type="submit" class="btn btn-primary">Return</button>
  </form>
  <br>
  <form action="{% url 'main' %}">
    <button type="submit" class="btn btn-secondary">Home</button>
  </form>
</div>

{% else %}

<div class="container">
  <p>You have to be logged in to view this page.</p>
  <form action="{% url 'login' %}">
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>

{% endif %}

{% endblock %}
