{% extends "main/template.html" %}

{% load static %}

{% block content %}

{% if user.is_authenticated %}

<div class="container">
  <p><h4>Scan Results</p>
    <p><h5>Supplied test settings:</h5></p>
    <p><b>Scan Type:</b> <span class="badge badge-info">{{ scan_type }}</span></p>
    <p><b>Port Range:</b> <span class="badge badge-info">{{ port_range }}</span></p>
    <p><b>NMAP Options:</b> <span class="badge badge-info">{{ nmap_options }}</span></p>
    <p><b>Scan complete at:</b> <span class="badge badge-info">{% now "SHORT_DATETIME_FORMAT" %}</span></p>
</div>

<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Address</th>
        <th scope="col">Ports</th>
      </tr>
    </thead>
    <tbody>
      {% for r in report %}
        <tr>
          <td>{{ r.address }}</td>
          {% if r.details.0.noports %}
          <td>None</td>
          {% else %}
          <td>{{ r.details.0.port_info.0.service }}/{{ r.details.0.port_info.0.port }}/{{ r.details.0.port_info.0.state }}</td>
          {% endif %}
        </tr>
      {% empty %}
        <tr>
          <td>No instances found.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="container">
  <form action="{% url 'aws' %}">
    <button type="submit" class="btn btn-warning">Done</button>
  </form>
  <br>
  <form action="{% url 'main' %}">
    <button type="submit" class="btn btn-secondary">Home</button>
  </form>
</div>

{% else %}

<div class="container">
  <p>You have to be logged in to view this page.</p>
  <form action="{% url 'login' %}">
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>

{% endif %}

{% endblock %}
